<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: center;">
      <th>#</th>
      <th>First</th>
      <th>Sign</th>
      <th>Second</th>
      <th>Your Answer</th>
      <th>Correct Answer</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>0</td>
      <td>15</td>
      <td>+</td>
      <td>21</td>
      <td>0</td>
      <td>36</td>
      <td>WRONG</td>
    </tr>
    <tr>
      <td>1</td>
      <td>4</td>
      <td>-</td>
      <td>17</td>
      <td>0</td>
      <td>-13</td>
      <td>WRONG</td>
    </tr>
    <tr>
      <td>2</td>
      <td>18</td>
      <td>-</td>
      <td>10</td>
      <td>0</td>
      <td>8</td>
      <td>WRONG</td>
    </tr>
    <tr>
      <td>3</td>
      <td>25</td>
      <td>-</td>
      <td>14</td>
      <td>0</td>
      <td>11</td>
      <td>WRONG</td>
    </tr>
    <tr>
      <td>4</td>
      <td>15</td>
      <td>+</td>
      <td>20</td>
      <td>0</td>
      <td>35</td>
      <td>WRONG</td>
    </tr>
  </tbody>
</table>