<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>First</th>
      <th>Sign</th>
      <th>Second</th>
      <th>Your Answer</th>
      <th>Correct Answer</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>11</td>
      <td>+</td>
      <td>26</td>
      <td>0</td>
      <td>37</td>
      <td>WRONG</td>
    </tr>
    <tr>
      <th>1</th>
      <td>16</td>
      <td>-</td>
      <td>26</td>
      <td>0</td>
      <td>-10</td>
      <td>WRONG</td>
    </tr>
    <tr>
      <th>2</th>
      <td>19</td>
      <td>-</td>
      <td>12</td>
      <td>0</td>
      <td>7</td>
      <td>WRONG</td>
    </tr>
    <tr>
      <th>3</th>
      <td>27</td>
      <td>-</td>
      <td>23</td>
      <td>0</td>
      <td>4</td>
      <td>WRONG</td>
    </tr>
    <tr>
      <th>4</th>
      <td>12</td>
      <td>+</td>
      <td>11</td>
      <td>0</td>
      <td>23</td>
      <td>WRONG</td>
    </tr>
  </tbody>
</table>