<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: center;">
      <th>#</th>
      <th>First</th>
      <th>Sign</th>
      <th>Second</th>
      <th>Your Answer</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>0</td>
      <td>4</td>
      <td>+</td>
      <td>5</td>
      <td>9</td>
      <td>OK</td>
    </tr>
    <tr>
      <td>1</td>
      <td>28</td>
      <td>-</td>
      <td>15</td>
      <td>13</td>
      <td>OK</td>
    </tr>
    <tr>
      <td>2</td>
      <td>17</td>
      <td>-</td>
      <td>5</td>
      <td>12</td>
      <td>OK</td>
    </tr>
    <tr>
      <td>3</td>
      <td>27</td>
      <td>-</td>
      <td>12</td>
      <td>15</td>
      <td>OK</td>
    </tr>
    <tr>
      <td>4</td>
      <td>3</td>
      <td>*</td>
      <td>9</td>
      <td>27</td>
      <td>OK</td>
    </tr>
  </tbody>
</table>