[Unit]
Description=David web server
After=network.target

[Service]
ExecStart=/home/david/env/bin/python /home/david/david_web_server.py
Type=simple
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

