{% extends "mainpage/header.html" %}
{% block content %}
    <div>
        {% if user.is_authenticated %}
            <b>
                Hello <u><font color="green" size="4">{{ user.username }}</font></u>, my name is Getrizarubsin!
                <br>Or you can call me Dinessa, how are you?<br><br>
            </b>
        {% else %}
            <b>
                Hello, how are you?<br><br>
            </b>
        {% endif %}
    </div>
    <div>
        <h5><a href='/children_math'>Calculation task</a></h5>
    </div>
{% endblock %}