{% extends "mainpage/header.html" %}
{% block content %}
    <div class="row">
        {% if user.is_authenticated %}
            <b>
                Hello <u><font color="green" size="4">{{ user.username }}</font></u>, my name is Getrizarubsin!
                <br>Or, you can call me Dinessa!
                <br>How are you?<br><br>
            </b>
        {% else %}
            <b>
                Hello, how are you?<br><br>
            </b>
        {% endif %}
    </div>

    <div>

        <table border="1" class="dataframe">
          <thead>
            <tr style="text-align: center;">
              <th>#</th>
              <th>Task name</th>
              <th>Progress</th>
              <th>Status for today</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>1</th>
              <td><a href='/children_math'> Calculation task </a></td>
              <td>{{ solved_tasks }} of 7</td>
              <td>{{ today_task }}</td>
            </tr>
          </tbody>
        </table>

    </div>
{% endblock %}